<!-- HTML DO EXERCÍCIO 3 -->
<%- include("partials/header") %>

<table border="1">
    <tr>
        <td>Nome: </td>
        <td>Sobrenome: </td>
        <td>Idade: </td>
        <td>País: </td>
        <td>Ação: </td>
    </tr>
    <tr>
        <td> <%= firstName %> </td>
        <td> <%= lastName %> </td>
        <td> <%= age %> </td>
        <td> <%= country %> </td>
        <td> <a href="/perfil">Editar</a> </td>
    </tr>
</table>

